.booking-container {
  max-width: 500px;
  margin: 50px auto;
  padding: 20px;
  background-color: #c4c6e9;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif;
}

.booking-container h1 {
  text-align: center;
  color: #333;
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 20px;
}

.booking-container input,
.booking-container select,
.booking-container textarea {
  width: 100%;
  padding: 8px;
  margin: 8px 0;
  border-radius: 4px;
  border: 2px solid #414043;
}

.booking-container button {
  display: block;
  margin: 20px auto;
  color: rgb(13, 13, 13);
  background-color: #726abc;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.booking-container button:hover {
  background-color: #4338ca;
}
